<div class="d-flex align-items-stretch min-height-100 bg-dark text-white">
  <div class="p-5">
    <div class="error-number fw-900 text-danger text-uppercase">Erro 503</div>
    <h6 class="fw-300 mb-0">Serviço indisponível temporariamente. :(</h6>
    <small class="ff-headers fw-300">Desculpe, o servidor não está conseguindo lidar com as requisições. Por favor, tente retornar em alguns instantes. <a [routerLink]="['/']">Clique aqui</a> se preferir voltar para a página inicial!</small>
  </div>
</div>
