<section class="content login-content" style="margin: 10% auto">
  <div class="login-logo">

  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
    <!--<img src="assets/img/sorriso.png" width="150" height="70" class="centro">-->
    <h2>ATUALIZA</h2><br>
    <p>Seu pedido (registrado sob o ID: <b>CortinaFacil</b>) foi realizado com sucesso. Agradecemos a preferência!</p>
    <p>Você receberá um e-mail com o resumo do seu pedido.</p>
    <br><br>

    <p class="login-box-msg">Clique <a class="col-1-4" href="http://cortinafacil.com.br">aqui</a> para voltar ao site.</p>
     <!--href="http://cortinafacil.com.br">[routerLink]="['/']-->

  </div>
</section>
