<section class="content login-content" style="margin: 10% auto">
  <div class="login-logo">

  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
    <img src="assets/img/osp-logo.png" width="70" height="70" class="centro">
    <h2>ÁREA DE ADMINISTRAÇÃO</h2><br>
    <b>CortinaFacil</b>.com.br | Login
  <p class="login-box-msg">Por favor, efetue logon para continuar</p>

  <form [formGroup]="loginForm">
    <mt-input-container [showTip]="false">
      <input type="text" formControlName="email" class="form-control" placeholder="Email">
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </mt-input-container>
    <mt-input-container [showTip]="false">
      <input type="password" formControlName="password" class="form-control" placeholder="Password">
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </mt-input-container>
    <div class="row">
      <!-- /.col -->
      <div class="col-xs-offset-8 col-xs-4">
        <button type="submit" (click)="login()" [disabled]="loginForm.invalid" class="btn btn-store btn-block">Entrar</button>
      </div>
      <!-- /.col -->
    </div>
  </form>
  </div>
</section>
