<section id="produtos" class=" padding-top-bottom gray-bg">
  <div class="container">
    <header class="section-header text-center anima fade-up">
      <h2>PRODUTOS</h2>
    </header>
  </div>
  <div class="container">
    <div id="projects-container" class="row">

      <!-- Galeria 1 -->
      <article class="design product col-xs-12 col-sm-6 col-md-4 anima fade-up">
        <div class="img-box">
          <div class="hover-mask2"></div>
          <span class="product-icon icon-eye"></span>
          <img class="img-responsive project-image" src="https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/mainpage%2Fthumbnail1.jpg?alt=media&token=e40ba767-ebb3-4e18-9bd7-6cb886fcd831" alt="">
        </div>
        <div class="product-info col-md-12">
          <div>
            <h4 class="project-title">{{galeria1?.name}}</h4>
          </div>
        </div>
        <div class="sr-only project-description" data-images="https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F01.jpg?alt=media&token=e4257857-b65d-4ce2-acdd-4f985fd48f39,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F02.jpg?alt=media&token=1dd83533-df87-445e-bf50-26a75cb07e1d,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F03.jpg?alt=media&token=eca4eb48-384a-4eab-ba73-9c5652a9ea3e,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F04.jpg?alt=media&token=87a49983-d689-47b4-a43d-bf7cc19755e2,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F05.jpg?alt=media&token=02e4b1a0-d618-475a-9d3b-c1cc5b78c702,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F06.jpg?alt=media&token=fa06a89c-9156-4f2c-a8ee-48423f39c0e0,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F07.jpg?alt=media&token=f851a8a1-cf2a-4fd0-a7ea-58fdfacd879d,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F07.jpg?alt=media&token=f851a8a1-cf2a-4fd0-a7ea-58fdfacd879d,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F07.jpg?alt=media&token=f851a8a1-cf2a-4fd0-a7ea-58fdfacd879d,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F10.jpg?alt=media&token=a72cb3ed-455f-418c-88b4-5657cd1ab8b7,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F11.jpg?alt=media&token=91e5d469-731b-448f-ba4a-dcb6be60df01,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F12.jpg?alt=media&token=1e15a7b0-16f1-4afd-8b62-5fb95b68706e,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F13.jpg?alt=media&token=2db30d6a-89db-488f-9ce1-8951a3be85f0,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F14.jpg?alt=media&token=0e21166a-6799-4cd0-b3fd-56a059786743,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F15.jpg?alt=media&token=97e99481-289e-4850-9255-0c77c55d7306,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F16.jpg?alt=media&token=671cd5a8-77a8-47ba-9863-ef7846d74f60,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F17.jpg?alt=media&token=917a3b1f-3a3e-4352-9968-ec9077748127,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria1%2F18.jpg?alt=media&token=8d3ba7a2-d504-4a94-8010-d06efc7ee73b">
          <p>{{galeria1?.description}}</p>
        </div>
      </article>

      <!-- Galeria 2 -->
      <article class="mock-up product col-xs-12 col-sm-6 col-md-4 anima fade-up d1">
        <div class="img-box">
          <div class="hover-mask2"></div>
          <span class="product-icon icon-eye"></span>
          <img class="img-responsive project-image" src="https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/mainpage%2Fthumbnail2.jpg?alt=media&token=35ab3051-560b-4c9e-b6c2-c0dc6183c383" alt="">
        </div>
        <div class="product-info col-md-12">
          <div>
            <h4 class="project-title">{{galeria2?.name}}</h4>
          </div>
        </div>
        <div class="sr-only project-description" data-images="https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria2%2F01.jpg?alt=media&token=0438043f-b992-415e-8c90-1b482aa0c26d,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria2%2F02.jpg?alt=media&token=da646a23-2f10-4cfe-950c-9a3e9b2225a0,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria2%2F03.jpg?alt=media&token=631ae598-7253-425e-b9a1-c27f92d8ff69,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria2%2F04.jpg?alt=media&token=607b09fb-cc68-4078-85ac-e7a080cfa027">
          <p>{{galeria2?.description}}</p>
        </div>
      </article>

      <!-- Galeria 3 -->
      <article class=" icons product col-xs-12 col-sm-6 col-md-4 anima fade-up d2">
        <div class="img-box">
          <div class="hover-mask2"></div>
          <span class="product-icon icon-eye"></span>
          <img class="img-responsive project-image" src="https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/mainpage%2Fthumbnail3.jpg?alt=media&token=41f26d2c-fd91-4c42-bea0-0a76ff296c92" alt="">
        </div>
        <div class="product-info col-md-12">
          <div>
            <h4 class="project-title">{{galeria3?.name}}</h4>
          </div>
        </div>
        <div class="sr-only project-description" data-images="https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria3%2F01.jpg?alt=media&token=049bc37b-4c27-4693-84b8-2e8ce47c7625,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria3%2F02.jpg?alt=media&token=779ee124-7fd3-45b8-ae86-dadfd24c5bac,
                                                              https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/galeria%2Fgaleria3%2F03.jpg?alt=media&token=1ba52ca9-28ed-434a-b91e-3fb104138b6a">
          <p>{{galeria3?.description}}</p>
        </div>
      </article>

    </div>
  </div>

  <div id="project-modal" class="modal " style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div id="project-sidebar" class="col-sm-12 col-md-4 col-lg-4">
                <h2 id="sdbr-title"></h2>
              </div>
              <div id="project-content" class="col-sm-10 col-md-7 col-lg-7">
                <p></p>
              </div>
              <div class="col-sm-2 col-md-1 col-lg-1">
                <br><br><a class="close" href="#" data-dismiss="modal" ><i class="icon-close"></i></a></div>
            </div>
          </div>
        </div>
        <div class="modal-header">
          <div id="project-slider" class="owl-carousel owl-theme" data-navigation="true" data-dots="true" ></div>
        </div>
      </div>
    </div>
  </div>
</section>
