<section id="produtos" class=" padding-top-bottom gray-bg">
  <div class="container">
    <header class="section-header text-center anima fade-up">
      <h2>PRODUTOS</h2>
    </header>
  </div>
  <div class="container">
    <div id="projects-container" class="row">

      <!-- Galeria 1 -->
      <article class="design product col-xs-12 col-sm-6 col-md-4 anima fade-up">
        <div class="img-box">
          <div class="hover-mask2"></div>
          <span class="product-icon icon-eye"></span>
          <img class="img-responsive project-image" src="assets/img/mainpage/thumbnail1.jpg" alt="">
        </div>
        <div class="product-info col-md-12">
          <div>
            <h4 class="project-title">{{galeria1?.name}}</h4>
          </div>
        </div>
        <div class="sr-only project-description" data-images="assets/img/galeria/galeria1/01.jpg,
                                                              assets/img/galeria/galeria1/02.jpg,
                                                              assets/img/galeria/galeria1/03.jpg,
                                                              assets/img/galeria/galeria1/04.jpg,
                                                              assets/img/galeria/galeria1/05.jpg,
                                                              assets/img/galeria/galeria1/06.jpg,
                                                              assets/img/galeria/galeria1/07.jpg,
                                                              assets/img/galeria/galeria1/08.jpg,
                                                              assets/img/galeria/galeria1/09.jpg,
                                                              assets/img/galeria/galeria1/10.jpg,
                                                              assets/img/galeria/galeria1/11.jpg,
                                                              assets/img/galeria/galeria1/12.jpg,
                                                              assets/img/galeria/galeria1/13.jpg,
                                                              assets/img/galeria/galeria1/14.jpg,
                                                              assets/img/galeria/galeria1/15.jpg,
                                                              assets/img/galeria/galeria1/16.jpg,
                                                              assets/img/galeria/galeria1/17.jpg,
                                                              assets/img/galeria/galeria1/18.jpg">
          <p>{{galeria1?.description}}</p>
        </div>
      </article>

      <!-- Galeria 2 -->
      <article class="mock-up product col-xs-12 col-sm-6 col-md-4 anima fade-up d1">
        <div class="img-box">
          <div class="hover-mask2"></div>
          <span class="product-icon icon-eye"></span>
          <img class="img-responsive project-image" src="assets/img/mainpage/thumbnail2.jpg" alt="">
        </div>
        <div class="product-info col-md-12">
          <div>
            <h4 class="project-title">{{galeria2?.name}}</h4>
          </div>
        </div>
        <div class="sr-only project-description" data-images="assets/img/galeria/galeria2/01.jpg,
                                                              assets/img/galeria/galeria2/02.jpg,
                                                              assets/img/galeria/galeria2/03.jpg,
                                                              assets/img/galeria/galeria2/04.jpg">
          <p>{{galeria2?.description}}</p>
        </div>
      </article>

      <!-- Galeria 3 -->
      <article class=" icons product col-xs-12 col-sm-6 col-md-4 anima fade-up d2">
        <div class="img-box">
          <div class="hover-mask2"></div>
          <span class="product-icon icon-eye"></span>
          <img class="img-responsive project-image" src="assets/img/mainpage/thumbnail3.jpg" alt="">
        </div>
        <div class="product-info col-md-12">
          <div>
            <h4 class="project-title">{{galeria3?.name}}</h4>
          </div>
        </div>
        <div class="sr-only project-description" data-images="assets/img/galeria/galeria3/01.jpg,
                                                              assets/img/galeria/galeria3/02.jpg,
                                                              assets/img/galeria/galeria3/03.jpg">
          <p>{{galeria3?.description}}</p>
        </div>
      </article>

    </div>
  </div>

  <div id="project-modal" class="modal " style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div id="project-sidebar" class="col-sm-12 col-md-4 col-lg-4">
                <h2 id="sdbr-title"></h2>
              </div>
              <div id="project-content" class="col-sm-10 col-md-7 col-lg-7">
                <p></p>
              </div>
              <div class="col-sm-2 col-md-1 col-lg-1">
                <br><br><a class="close" href="#" data-dismiss="modal" ><i class="icon-close"></i></a></div>
            </div>
          </div>
        </div>
        <div class="modal-header">
          <div id="project-slider" class="owl-carousel owl-theme" data-navigation="true" data-dots="true" ></div>
        </div>
      </div>
    </div>
  </div>
</section>
