<section id="hero" class="hero-slider light-typo full-height" data-height="600" >


  <div id="hero-slider" class="owl-carousel owl-theme" data-autoplay="4000" data-navigation="false" data-dots="true" data-transition="fadeOut">
    <!-- Slide 1 -->
    <div class="item m-center" style="background-image: url(assets/img/mainpage/slide1.jpg);">
      <div class="center-box">
        <span class="overlay-bg"></span>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center anima fade-up">
              <div class="hero-unit">
                <img id="logo" src="assets/img/mainpage/slide1_logoTransparente.png" class="img-responsive text-center" alt="shop logo" width="300">
                <p>{{slide1?.ds_texto}}</p>
                <ul class="social-links text-center">
                  <!-- <li><a href="#link"><i class="icon-twitter"></i></a></li> Caso queira habilitar o link para o twitter-->
                  <li><a href="{{slide1?.no_linkIconeSocial}}"><i class="{{slide1?.im_iconeSocial}}"></i></a></li>
                  <!-- <li><a href="#link"><i class="icon-vimeo"></i></a></li> Caso queira habilitar o link para o vimeo-->
                </ul>
                <a class="btn btn-store smooth-scroll" href="{{slide1?.no_linkBotao}}">{{slide1?.no_botao}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="item m-center" style="background-image: url(assets/img/mainpage/slide2.jpg);">
      <div class="center-box">
        <span class="overlay-bg"></span>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center anima fade-up">
              <div class="hero-unit">
                <h2>{{slide2?.no_cabecalho}}</h2>
                <p>{{slide2?.ds_texto}}</p>
                <a class="btn btn-store outline smooth-scroll" href="{{slide2?.no_linkBotao}}">{{slide2?.no_botao}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="item m-center" style="background-image: url(assets/img/mainpage/slide3.jpg);">
      <div class="center-box">
        <span class="overlay-bg"></span>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center anima fade-up">
              <div class="hero-unit">
                <h2>{{slide3?.no_cabecalho}}</h2>
                <p>{{slide3?.ds_textoParte1}}</p><p>{{slide3?.ds_textoParte2}}</p>
                <a class="btn btn-store outline smooth-scroll" href="{{slide3?.no_linkBotao}}">{{slide3?.no_botao}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
