<section class="content login-content" style="margin: 10% auto">
  <div class="login-logo">

  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
    <img src="https://firebasestorage.googleapis.com/v0/b/cortinafacil-ba0d7.appspot.com/o/icones%2Fsorriso.png?alt=media&token=59c97854-3a7a-400b-a8d4-fb43f2eacad7" width="150" height="70" class="centro">
    <h2>OBRIGADO!</h2><br>
    <p>Seu pedido (registrado sob o ID: <b>CortinaFacil</b>) foi realizado com sucesso. Agradecemos a preferência!</p>
    <p>Você receberá um e-mail com o resumo do seu pedido.</p>
    <br><br>

    <p class="login-box-msg">Clique <a class="col-1-4" href="http://cortinafacil.com.br">aqui</a> para voltar ao site.</p>
     <!--href="http://cortinafacil.com.br">[routerLink]="['/']-->

  </div>
</section>
