<section id="searchOrder" class="light-typo dark-bg padding-top-bottom">
  <div class="container ">

    <!--Cabeçalho -->
    <header class="section-header text-center">
      <h2>{{searchOrder.ds_cabecalho}}</h2>
      <h4>{{searchOrder.ds_descricao}}</h4>
    </header>

    <!--Form -->
    <div class="row">
      <form id="searchOrder-form" action="index.html" method="POST" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">

        <!--Campo email -->
        <div class="input-group">
          <input id="searchOrder-mail" name="email" placeholder="Informe seu e-mail" class="form-control input-lg" type="email" >
          <span class="input-group-btn">
            <button name="submit" type="submit" class="btn btn-store" data-toggle="modal" data-target="#modalResultados">{{searchOrder.no_botao}}</button>
          </span>
        </div>

        <!--Opção -->
        <input type="hidden" name="submitted" id="searchOrderSubmitted" value="true">

      </form>
    </div>

  </div>
</section>
