<section id="about" class="padding-top-bottom ">
  <div class="container">
    <div class="row">

      <!--Título -->
      <div class="col-md-4 anima fadeInLeft">
        <header class="section-header cta-message">
          <h2>SOBRE NÓS</h2>
          <h4>Confiança em primeiro lugar</h4>
        </header>
      </div>

      <!--Texto -->
      <div class="col-md-8 cta-message anima fade-up">
        <p><strong>Comprar boas cortinas de maneira simples, rápida e barata!</strong> Este é o serviço que o <strong>Cortina Fácil</strong> disponibiliza a seus clientes em todo o Brasil, com garantia de qualidade e entrega no prazo.</p>
        <p style="display:none;" id="showme">A CortinaFacil.com.br fica situada em São Sebastião do Caí, município localizado entre a região da região metropolitana de Porto Alegre e a Serra Gaúcha. Nossa empresa foi criada para atender as necessidades de quem precisa comprar boas cortinas de maneira simples, rápida e barata, reunindo as melhores empresas e costureiras da região, com qualidade garantida do início ao fim da confecção dos produtos.<br><br><strong>Não encontrou o tecido que gostaria para sua cortina?</strong> Sem problema! Basta acessar a área de CONTATO e realizar a solicitação do produto desejado. Estamos aqui para atendê-lo e vamos ajudá-lo da melhor forma possível!</p>
        <a class="btn btn-store outline" id="show-btn" href="#">Leia mais</a>
      </div>

    </div>
  </div>
</section>
