<!-- Header -->
<app-header></app-header>

<!-- Slideshou -->
<app-home-slideshow [hidden]="!ativacao.ic_slideshow"></app-home-slideshow>

<!-- Produtos -->
<app-home-products [hidden]="!ativacao.ic_produtos"></app-home-products>

<!-- Promoções -->
<app-home-promotion [hidden]="ativacao.ic_promocoes"></app-home-promotion>

<!-- Sobre nós -->
<app-home-about [hidden]="!ativacao.ic_sobreNos"></app-home-about>

<!-- Testemunhos -->
<app-home-testimonial [hidden]="!ativacao.ic_testemunhos"></app-home-testimonial>

<!-- News -->
<app-home-news [hidden]="!ativacao.ic_news"></app-home-news>

<!-- Pedidos -->
<app-home-order [hidden]="!ativacao.ic_pedidos"></app-home-order>

<!-- Destaques -->
<app-home-highlights [hidden]="!ativacao.ic_destaques"></app-home-highlights>

<!-- Contatos -->
<app-home-contact [hidden]="!ativacao.ic_contatos"></app-home-contact>

<!-- Search Order & Results -->
<app-home-search-order [hidden]="!ativacao.ic_searchOrder"></app-home-search-order>
<app-home-search-results [hidden]="!ativacao.ic_searchOrder"></app-home-search-results>

<!-- Termos -->
<app-home-terms [hidden]="!ativacao.ic_termos"></app-home-terms>

<!-- Rodapé -->
<app-footer></app-footer>
