<section id="contact" class="gray-bg padding-top-bottom">
  <div class="container">

    <!--Cabeçalho do Form -->
    <header class="section-header text-left">
      <h2>CONTATO</h2>
    </header>

    <!--Form -->
    <form action="index.html" method="post" novalidate id="contact-form">
      <div class="row">

        <!--Contato -->
        <div class="col-xs-12 col-sm-12 col-md-4 contact-info cta-message anima fade-right">
          <address>
            <strong>{{dadosContato.no_site}}</strong><br>
            {{dadosContato.no_localizacao}}<br>
            {{dadosContato.ds_telefone}}<br>
            {{dadosContato.no_email}}
          </address>
        </div>

        <!--Campos -->
        <div class="col-xs-12 col-sm-12 col-md-8 anima fade-up d1" >

          <!--Campo nome -->
          <div class="form-group">
            <label class="control-label" for="contact-name">name</label>
            <div class="controls">
              <input id="contact-name" name="contactName" placeholder="Seu nome" class="form-control input-lg requiredField" type="text">
            </div>
          </div>

          <!--Campo email -->
          <div class="form-group">
            <label class="control-label" for="contact-mail">email</label>
            <div class=" controls">
              <input id="contact-mail" name="email" placeholder="Seu e-mail" class="form-control input-lg requiredField" type="email">
            </div>
          </div>

          <!--Campo nome -->
          <div class="form-group">
            <label class="control-label" for="contact-subject">assunto</label>
            <div class="controls">
              <input id="contact-subject" name="subject" placeholder="Assunto" class="form-control input-lg requiredField" type="text">
            </div>
          </div>

          <!--Campo mensagem -->
          <div class="form-group">
            <label class="control-label" for="contact-message">message</label>
            <div class="controls">
              <textarea id="contact-message" name="comments" placeholder="Sua mensagem" class="form-control input-lg requiredField" rows="5"></textarea>
            </div>
          </div>

          <p>

          <!--Opções -->
          <button name="submit" type="submit" class="btn btn-store btn-block">Enviar Mensagem</button></p>
          <input type="hidden" name="submitted" id="submitted3" value="true">

        </div>
      </div>
    </form>
  </div>
</section>
