<section id="contact" class="gray-bg padding-top-bottom">
  <div class="container">

    <!--Cabeçalho do Form -->
    <header class="section-header text-left">
      <h2>CONTATO</h2>
    </header>

    <!--Form -->
    <form [formGroup]="contactForm" novalidate id="contact-form" (submit)="saveContact()">
      <div class="row">

        <!--Contato -->
        <div class="col-xs-12 col-sm-12 col-md-4 contact-info cta-message anima fade-right">
          <address>
            <strong>{{dadosContato.no_site}}</strong><br>
            {{dadosContato.no_localizacao}}<br>
            {{dadosContato.ds_telefone}}<br>
            {{dadosContato.no_email}}
          </address>
        </div>

        <!--Campos -->
        <div class="col-xs-12 col-sm-12 col-md-8 anima fade-up d1" >

          <!--Campo nome -->
          <div class="form-group">
            <label class="control-label" for="no_contato">name</label>
            <div class="controls">
              <input id="no_contato" formControlName="no_contato" name="no_contato" placeholder="Seu nome" class="form-control input-lg requiredField" type="text">
            </div>
            <control-messages [control]="contactForm.controls.no_contato"></control-messages>
          </div>

          <!--Campo email -->
          <div class="form-group">
            <label class="control-label" for="no_contatoEmail">email</label>
            <div class=" controls">
              <input id="no_contatoEmail" formControlName="no_contatoEmail" name="no_contatoEmail" placeholder="Seu e-mail" class="form-control input-lg requiredField" type="email">
            </div>
            <control-messages [control]="contactForm.controls.no_contatoEmail"></control-messages>
          </div>

          <!--Campo nome -->
          <div class="form-group">
            <label class="control-label" for="no_contatoAssunto">assunto</label>
            <div class="controls">
              <input id="no_contatoAssunto" formControlName="no_contatoAssunto" name="no_contatoAssunto" placeholder="Assunto" class="form-control input-lg requiredField" type="text">
            </div>
            <control-messages [control]="contactForm.controls.no_contatoAssunto"></control-messages>
          </div>

          <!--Campo mensagem -->
          <div class="form-group">
            <label class="control-label" for="tx_contatoMsg">message</label>
            <div class="controls">
              <textarea id="tx_contatoMsg" formControlName="tx_contatoMsg" name="tx_contatoMsg" placeholder="Sua mensagem (mínimo de 25 caracteres)" class="form-control input-lg requiredField" rows="5"></textarea>
            </div>
            <control-messages [control]="contactForm.controls.tx_contatoMsg"></control-messages>
          </div>

          <p>

          <!--Opções -->
          <button name="submit" type="submit" class="btn btn-store btn-block" [disabled]="!contactForm.valid">Enviar Mensagem</button></p>
          <input type="hidden" name="submitted" id="submitted3" value="true">

        </div>
      </div>
    </form>
  </div>
</section>
